<%= render partial: 'form_header', locals: { breadcrumb_title: t('text.group.update') } %>

<div class="row">
  <%= render partial: 'form', locals: { action_title: t('text.update') } %>
</div>
<!-- /.row -->