<%= render partial: 'form_header', locals: { breadcrumb_title: t('text.user.register') } %>

<div class="row">
	<%= render partial: 'form', locals: { action_title: t('text.register') } %>
</div>
<!-- /.row -->